body{
    color: purple;
    background-color: rgb(255, 142, 97);
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 10px;
    border-style: groove;
    border-color: rgb(255, 230, 0);
    padding:10px;
    text-align: center;

}
#eating{
    padding: 20px;
    text-align: center ;
    color: red;
}